.main{
    height: 50vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: grey;
}

.spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}